---
import Layout from "@/layouts/Layout.astro";
import Contact from "@/components/Contact.astro";
import medalRope from "@/assets/medallas/medal_rope.webp";
import ajhospitalet from "@/assets/logos/ajhospitalet.webp";
import fecac from "@/assets/logos/fecac.webp";
import fecealh from "@/assets/logos/fecealh.webp";
import diba from "@/assets/logos/diba.webp";
import juntaand from "@/assets/logos/juntaand.webp";

import actualidadMujeres from "@/images/home/actualidad_mujeres.webp";
import actualidadNinos from "@/images/home/actualidad_ninos.webp";
import actualidadHombres from "@/images/home/actualidad_hombres.webp";
import barcelonaCentro from "@/images/home/barcelona_centro.webp";
import segundoSimpecao from "@/images/home/segundo_simpecao.webp";
import simpecaoActual from "@/images/home/simpecao_actual.webp";
---

<Layout title="Hermandad Rociera Pastora Almonteña">
  <section class="lg:px-16 px-6 grid grid-rows-[300px_calc(100%-300px)]">
    <div
      class="flex flex-col justify-center items-center px-6 pb-8 md:pb-0 bg-cover bg-center"
    >
      <img
        src={medalRope.src}
        alt="Medalla de l'Hermandad Rociera Pastora Almonteña"
        class="w-48 h-48 lg:mb-6"
      />
      <h1
        class="text-lg lg:text-2xl xl:text-4xl text-center font-bold mb-4 drop-shadow-lg"
      >
        Hermandad Rociera Pastora Almonteña de L'Hospitalet de Llobregat
      </h1>
    </div>
    <div class="flex flex-col gap-8">
      <p class="text-left w-full">
        L'any 1985, un grup d'emigrants andalusos i d'altres llocs d'Espanya que
        residien a terres catalanes van començar conjuntament amb altres grups
        de persones a establir un fil d'unió amb motiu de la nostàlgia i costums
        de la seva terra, tenint com a màxima expressió la Romeria del Rocío.
      </p>
      <p class="text-left w-full">
        L'any 1986, aquestes reunions van anar agafant més cos i compromís
        fundant-se així la <strong
          >Hermandad Rociera Andaluza Barcelona Centro</strong
        >.
      </p>
      <p class="text-left w-full">
        Fundadors de l'entitat com José Antonio Povedano, Manuel Hernández,
        Gabriel Muela, Manuel Sánchez i Justo Rodríguez van iniciar un camí que
        avui dia continua la seva andadura.
      </p>
      <p class="text-left w-full">
        Els primers anys de celebració de la Romeria es van realitzar en
        diferents poblacions de Barcelona sense tenir una ubicació fixa.
      </p>
      <div class="flex flex-col justify-self-center place-items-center">
        <img
          src={barcelonaCentro.src}
          alt="Hermandad Rociera Andaluza Barcelona Centro"
          class="w-[30rem] rounded-md shadow-md"
        />
        <p class="text-sm italic mt-2 text-center">
          Foto de les primeres romeries de la Hermandad Rociera Andaluza
          Barcelona Centro
        </p>
      </div>
      <p class="text-left w-full">
        Fins a l'any 1989 la Hermandad va tenir la seva seu a Barcelona i, l'any
        1990, es va traslladar a L'Hospitalet de Llobregat, al barri de Can
        Serra, aquest trasllat va ser motivat perquè la majoria dels germans que
        componien l'entitat s'establien a aquesta localitat. Després d'aquest
        desplaçament, l'entitat va passar a denominar-se <strong
          >Hermandad Rociera Recreativo Cultural Barcelona Centro Pastora
          Almonteña de L'Hospitalet de Llobregat</strong
        >.
      </p>
      <p class="text-left w-full">
        L'Hermano Mayor en 1991, Paco Trigueros, va donar un nou "Simpecao"
        elaborat i brodat a Màlaga. La bellesa i imatge d'aquest "Simpecao" ha
        estat sentinella per als germans de l'entitat fins a finals de l'any
        2007, quan es va beneir el nou i actual "Simpecao", elaborat i brodat a
        Sevilla, aquest substitueix l'anterior per deteriorament del pas dels
        anys.
      </p>
      <div class="flex flex-col justify-self-center place-items-center">
        <img
          src={segundoSimpecao.src}
          alt="Segon simpecao de la hermandad i primer com a Pastora Almonteña"
          class="w-[30rem] rounded-md shadow-md"
        />
        <p class="text-sm italic mt-2 text-center">
          Foto del segon "Simpecao" de la Hermandad Rociera Pastora Almonteña
        </p>
      </div>
      <div class="flex flex-col justify-self-center place-items-center">
        <img
          src={simpecaoActual.src}
          alt="Simpecao actual de la hermandad"
          class="w-[30rem] rounded-md shadow-md"
        />
        <p class="text-sm italic mt-2 text-center">
          Foto del actual "Simpecao" de la Hermandad Rociera Pastora Almonteña
        </p>
      </div>
      <p class="text-left w-full">
        Durant tots aquests anys, la Hermandad Rociera Pastora Almonteña ha
        estat partícip de tot el moviment rociero a Catalunya, assistint a
        Certàmens de Cors Rocieros, Festivals i Zambombas de Nadales, Actes
        Benèfics, Misses Rocieras, Festa Major de Can Serra, Fira d'Abril a
        Catalunya, Romeria del Rocío, Setmana Santa i altres innomenables actes
        socials.
      </p>
      <p class="text-left w-full">
        En l'actualitat, la Hermandad Rociera Pastora Almonteña de L'Hospitalet
        la componen més de 70 germans dedicats al progrés rociero així com a la
        cultura andalusa i catalana en general.
      </p>
      <div class="flex flex-col justify-self-center place-items-center">
        <img
          src={actualidadNinos.src}
          alt="Nens de la hermandad actualment"
          class="w-[30rem] rounded-md shadow-md mb-2"
        />
        <img
          src={actualidadMujeres.src}
          alt="Dones de la hermandad actualment"
          class="w-[30rem] rounded-md shadow-md mb-2"
        />
        <img
          src={actualidadHombres.src}
          alt="Homes de la hermandad actualment"
          class="w-[30rem] rounded-md shadow-md"
        />
        <p class="text-sm italic mt-2 text-center">
          Fotos de l'última romería de la Hermandad Rociera Pastora Almonteña
          (2025)
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-left w-full italic text-sm">
          * L'hermano mayor d'una hermandad rociera és el màxim representant de
          l'hermandad, encarregat d'organitzar-la i representar-la en els actes
          religiosos i festius, especialment durant la romeria del Rocío. És un
          membre elegit pels altres membres de l'hermandad i sol regentar aquest
          títol durant un any.
        </p>
        <p class="text-left w-full italic text-sm">
          ** El "Simpecao" és l'estendard o bandera d'una hermandad rociera, que
          sol portar una imatge de la Verge del Rocío. És un símbol molt
          important dins de l'hermandad, ja que representa la Verge i els
          rocieros que la segueixen. Es porta en la processó durant la romeria
          del Rocío (o en una carreta durant el camí cap a la romeria), sent
          portat pels germans o germanes i en moltes ocasions acompanyat de
          cants i resos. És considerat un símbol de devoció i d'identitat de
          l'hermandad.
        </p>
      </div>
    </div>
  </section>
</Layout>
<Contact />
<footer class="flex flex-row gap-4 place-items-center justify-center px-6 pb-2">
  <a
    href="https://www.l-h.cat/"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-105 transition ease-in-out"
  >
    <img src={ajhospitalet.src} alt="Ajuntament de l'Hospitalet" class="w-28" />
  </a>
  <a
    href="https://fecac.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-105 transition ease-in-out"
  >
    <img src={fecac.src} alt="FECAC" class="w-28" />
  </a>
  <a
    href="https://www.instagram.com/fecealh/"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-105 transition ease-in-out"
  >
    <img src={fecealh.src} alt="FECEAL'H" class="w-28" />
  </a>
  <a
    href="https://www.diba.cat/es/"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-105 transition ease-in-out"
  >
    <img src={diba.src} alt="Diputació de Barcelona" class="w-28" />
  </a>
  <a
    href="https://www.juntadeandalucia.es/"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-105 transition ease-in-out"
  >
    <img src={juntaand.src} alt="Junta de Andalucía" class="w-28" />
  </a>
</footer>
