---
import medalRope from "@/assets/medallas/medal_rope.webp";
import ajhospitalet from "@/assets/logos/ajhospitalet.webp";
import fecac from "@/assets/logos/fecac.webp";
import fecealh from "@/assets/logos/fecealh.webp";
import diba from "@/assets/logos/diba.webp";
import juntaand from "@/assets/logos/juntaand.webp";
---

<footer class="flex flex-row gap-4 place-items-center justify-center px-6 pb-2">
  <a
    href="https://www.l-h.cat/inici_2.aspx"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-105 transition ease-in-out"
  >
    <img src={ajhospitalet.src} alt="Ajuntament de l'Hospitalet" class="w-28" />
  </a>
  <a
    href="https://fecac.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-105 transition ease-in-out"
  >
    <img src={fecac.src} alt="FECAC" class="w-28" />
  </a>
  <a
    href="https://www.instagram.com/fecealh/"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-105 transition ease-in-out"
  >
    <img src={fecealh.src} alt="FECEAL'H" class="w-28" />
  </a>
  <a
    href="https://www.diba.cat/es/"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-105 transition ease-in-out"
  >
    <img src={diba.src} alt="Diputació de Barcelona" class="w-28" />
  </a>
  <a
    href="https://www.juntadeandalucia.es/"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-105 transition ease-in-out"
  >
    <img src={juntaand.src} alt="Junta de Andalucía" class="w-28" />
  </a>
</footer>
