---
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import NavbarMini from "@/components/NavbarMini.astro";

interface Props {
  title: string;
  description?: string;
}

const isCat = Astro.url.pathname.startsWith('/cat');
const lang = isCat ? 'ca' : 'es';
const { title, description = lang === "es" ? "Hermandad Rociera Pastora Almonteña de L'Hospitalet de Llobregat. Hermandad Rociera en Cataluña desde 1986." :  "Hermandad Rociera Pastora Almonteña de L'Hospitalet de Llobregat. Hermandad Rociera en Catalunya desde 1986."} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogTitle = title === "Hermandad Rociera Pastora Almonteña" ? `${title}` : `${title} | Hermandad Rociera Pastora Almonteña`;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="google-site-verification" content="sU0A3vnqLJPiGqz5_s2qn1AUjZLv8ufbqd1Cl1Jk6PA" />
    <title>{ogTitle}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Hermandad Rociera Pastora Almonteña" />
    <meta property="og:locale" content={isCat ? 'ca_ES' : 'es_ES'} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={ogTitle} />
    <meta name="twitter:description" content={description} />
    <script type="application/ld+json" set:html={lang === "es" ?
    JSON.stringify({
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Hermandad Rociera Pastora Almonteña",
      "url": "https://hermandadpastoraalmontena.github.io",
      "description": "Hermandad Rociera Pastora Almonteña de L'Hospitalet de Llobregat. Hermandad Rociera en Cataluña desde 1986.",
      "foundingDate": "1986",
      "areaServed": "L'Hospitalet de Llobregat"
    }) : JSON.stringify({
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Hermandad Rociera Pastora Almonteña",
      "url": "https://hermandadpastoraalmontena.github.io",
      "description": "Hermandad Rociera Pastora Almonteña de L'Hospitalet de Llobregat. Hermandad Rociera en Catalunya desde 1986.",
      "foundingDate": "1986",
      "areaServed": "L'Hospitalet de Llobregat"
    })} />
  </head>
  <body>
    <div class="hidden xl:block">
      <Navbar />
    </div>
    <div class="block xl:hidden">
      <NavbarMini />
    </div>
    <main>
      <slot />
    </main>
  </body>
</html>
